<div class="container-fluid central">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @team.name %></h1>
    </div>
  </div>
  <hr>
  <div class="row tab">
    <div class="col-sm-12 col-md-3 drag" id="C1">
      <h1>Requested</h1>
      <%= render partial: 'tasks/task', collection: @tasksc1 %>
    </div>
    <div class="col-sm-12 col-md-3 drag" id="C2">
      <h1>Development</h1>
      <%= render partial: 'tasks/task', collection: @tasksc2 %>
    </div>
    <div class="col-sm-12 col-md-3 drag" id="C3">
      <h1>Testing</h1>
      <%= render partial: 'tasks/task', collection: @tasksc3 %>
    </div>
    <div class="col-sm-12 col-md-3 drag" id="C4">
      <h1>Done</h1>
      <%= render partial: 'tasks/task', collection: @tasksc4 %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'New task', new_team_task_path(@team) %>
    </div>
  </div>
</div>
